body{
  background: lightblue
}
h1{
  text-align: center;
}
.caixa1 {
    position: absolute;
    background: blue;
    width: 200px;
    height: 200px;
    color: #FFFFFF;
    left: 40%;
}
.caixa2 {
  position: fixed;
  background: purple;
  width: 200px;
  height: 200px;
  color: #FFFFFF
  left: 0%
}


.manuprincipal {
  position: absolute;
  width: 100%;
  height: 100px;
  background: rgb(175, 230, 255);
  top: 0;
}
